.services-section {
  padding: 80px 20px;
  background: #fff7f7;
  text-align: center;
}

.services-section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.services-subtext {
  color: #666;
  margin-bottom: 50px;
  font-size: 16px;
}

/* Cards layout */
.services-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Individual card */
.service-card {
  background: #ffffff;
  width: 300px;
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card h3 {
  margin: 15px 0;
  font-size: 20px;
}

/* Icon circle */
.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 10px;
}

/* Colors */
.green {
  background: #d1fae5;
  color: #059669;
}

.blue {
  background: #dbeafe;
  color: #2563eb;
}

.purple {
  background: #f3e8ff;
  color: #7c3aed;
}

.service-card ul li {
  margin-bottom: 10px;   /* space between points */
  line-height: 1.6;
}


.green-list li { color: #059669; }
.blue-list li { color: #2563eb; }
.purple-list li { color: #7c3aed; }

/* Buttons */
.donor-btn {
  background: #16a34a;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.hospital-btn {
  background: #2563eb;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.admin-btn {
  background: #7c3aed;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.donor-btn:hover,
.hospital-btn:hover,
.admin-btn:hover {
  opacity: 0.9;
}
